<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../../partials/navbar %>
    <div class="main">
      <% if(races.length>0){ %>
        <h1><%= currentUser.username %></h1>
        <img src="<%= currentUser.profilePic %>" alt="Profile Picture">
        <% races.forEach(function(race){ %>
          <div class='race'>
            <h2><%= race.name %></h2>
            <% if(race.logo){ %>
              <img src=<%= race.logo %> alt="Organization Logo" class='org-logo'>
            <% } %>
            <div class="race__date">
              <h4>When: <%= race.date %></h4>
            </div>
            <div class="race__location">
              <h4>Where: <%= race.place %></h4>
              <h5><%= race.address %></h5>
              <h5><%= race.city %>, <%= race.state %></h5>
              <h5><%= race.zip %></h5>
            </div>
            <% include ../../partials/_learn-more %>

            <% include ../../partials/_delete-race %>
          </div>
        <% }) %>
      <% }else{ %>
      <h3>It doesn't look like you've saved any races yet.</h3>
      <% } %>
    </div>
    <% include ../../partials/_footer %>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </body>
</html>
