<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/yeti/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../../partials/navbar %>
    <div class="main">
      <h1>Users</h1>
      <% users.forEach(function(user){ %>
        <% if(user._id != currentUser._id){ %>
          <div class="user">
            <img src=<%= user.profilePic %> alt="Profile Picture">
            <h3 class="user__name"><%=user.username%></h3>
            <div class='follow__button user'>
            <% if(friends.indexOf(user._id.toString())>-1){ %>
                <a href="/users/delete/<%= user._id %>"><button class="btn btn-danger">Unfollow</button></a>
            <% } else { %>
                <div class="follow-form user">
                  <form action="/users/follow" method="post" accept-charset="utf-8">
                    <input type="hidden" value="<%= user._id %>" name="id"></input>
                    <input type="hidden" value="<%= user.username %>" name="name"></input>
                    <input type="hidden" value="<%= user.profilePic %>" name="profilePic"></input>
                    <input type="hidden" value="<%= currentUser._id %>" name="userId"></input>
                    <input class="btn btn-success" type="submit" value='Follow'>
                  </form>
                </div>
            <% } %>
            </div>
          </div>
        <% } %>
      <% }) %>
    </div>
    <% include ../../partials/_footer %>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </body>
</html>
